.custom-loader-color 
{
    color: #fff !important;
    font-size: 50px !important;
}

.custom-loader-background
{
    background-color: crimson !important;
}
.custom-middle-align 
{
    vertical-align: middle !important;
}