@{
    ViewBag.Title = "Plugin Integration - Datatable";
}

<div class="row">
    <div class="panel-heading">
        <div class="col-md-8  custom-heading3">
            <h3>
                <i class="fa fa-table"></i>
                <span>Datatables Plugin Integration with ASP.NET MVC5 C#</span>
            </h3>
        </div>
    </div>
</div>

<div class="row">
    <section class="col-md-12 col-md-push-0">
        @Html.Partial("_ViewListPartial")
    </section>
</div>